.logementCard {
    background-color: #ff6060;
    width: 44vh;
    height: 44vh;
    border-radius: 10px;
}
.logementCard img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
    object-fit: cover; 
}