.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff6060;
    margin-inline:6.25rem ;

}

.navbar__linkNav{
    width: 200px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__linkNav a {
    font-size: 1rem;
    text-decoration: none;
    color: #ff6060;
}

.active {
    text-decoration: underline;
}


.navbar__logo {
    padding: 2rem 0 4rem 0;
}

.navbar__logo img {
    width: 200px;
}


@media screen and (max-width: 768px) {
    .navbar {
        width: 90%;
        margin-inline: 1.5rem;
        text-align: center;
    }

    .navbar__linkNav {
        width: 100%;
        padding: 2rem 0 0 1.5rem;
        justify-content: space-around;
    }

    .navbar__linkNav a {
        font-size: 0.75rem;
    }

    .navbar__logo {
        padding: 2rem 0 0 0;
    }

    .navbar__logo img {
        width: 9rem;
    }
}
        

