.tag {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    margin-right: 1rem;
    }


    @media screen and (max-width: 768px) {
        .tags {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            font-size: 10px;
            width: auto;
        }
        .tag{
            margin-bottom: 0.5rem;
        }
    }
